body {
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    margin: 10px 100px;
}

section#intro {
    color: black;

}
.image {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative;


}
#header {
    background: #eae0c5;
    height: 100px;
    color: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
    font-family: Futura;
}
.intro {
    background-color: #eae0c5;

}
.main-image {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative;
    border: 300px 300px 300px 300px;

   
}

.thumbnail {
    border: 5px solid white;
    background: white;
    border-color: #eae0c5;
    border-width: 10px;
    border-style: solid;
    border-radius: 10%;

}



.text-border {
    border: 100px solid white;
    background-color: white;
    margin-top: 10px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: 100px;
}
.align-right {
    text-align: right;

}
.image-circular {
    border: 5px solid white;
    background: white;
    border-width: 10px;
    border-radius: 10%;
}
a:hover {
    text-decoration: none;
}
a h1 {
    color: white;
    font-family: Futura;
    z-index: 4;

}



.box {
  position:relative;
  vertical-align: middle;
  color: white;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  border: 2px solid #eae0c5;
  -webkit-transition:0.5s;
}

.box:hover {
  border: 2px solid rgba(0,160,80,0);
  color: #FFF;
}

.box::before, .box::after {
  width: 76%;
  height:129%;
  z-index: 3;
  content:'';
  position: absolute;
  top: 2px;
  left: 46px;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.foo::before {
  border-bottom: 3px solid #FFF;
  border-left: 3px solid #FFF;
  -webkit-transform-origin: 0 100%;
}

.foo::after {
  border-top: 3px solid #FFF;
  border-right: 3px solid #FFF;
  -webkit-transform-origin: 100% 0%;
}



.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}

#contacts {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}